#git status excludes the following files (except those line who start with !)
*.order
*.lo
*.la
*.so
*.o
.*.cmd
*.ko
*.a
*.mod.c
*.o.d
*.swp
*~
.config
.dirstamp
.deps/
.tmp_versions/
.deps/
.dirstamp
Module.symvers
pti_np
cpu_frequ/pll0_check_stb7100
cpu_frequ/pll1_check_stb7100
cpu_frequ/pll_check_stx7105
